
$light_color :aqua;
$dark_color : black;

@mixin color_light {
  color: $dark_color;
  background-color: $light_color;
  border-color: $dark_color;
  border-width: 3px;
  border-style: inset;
}
.light { @include color_light();}

@mixin color_dark {
  background-color: $dark_color;
  color: $light_color;
  border-color: $light_color;
  border-width: 3px;
  border-style: inset;
}
.dark { @include color_dark();}

@keyframes turn {
  0% {transform: rotate(0deg)}
  20% {transform: rotate(30deg)}
  100% {transform: rotate(-360deg)}

}
@mixin hover_animated_rotate {
    @include color_light();
    transition: all 500ms ease;
    &:hover{
      animation: 500ms;
      animation-name: turn;
      @include color_dark();
    }
    &:active{
      transition: all 200ms ease;
      transform: scale(0.8);
    }
}

@keyframes enlarge {
  0% {transform: scale(1)}
  40% {transform: scale(0.95)}
  100% {transform: scale(1.3)}
}
@mixin hover_animated_enlarge {
  @include color_light();
  transition: all 300ms ease;
  &:hover{
    animation: 300ms;
    animation-name: enlarge;
    @include color_dark();
    transform: scale(1.3);
  }
  &:active{
    transform: scale(1);
  }
}

@mixin centerd_content {
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
}

@mixin simple_text {
  font-size: normal;
  font-weight: 600;
  line-height: normal;
}

@mixin small_text {
  font-size: small;
  font-weight: 100;
  word-break: break-all;
}




.simple-text-container {
  @include simple_text();
  @include centerd_content();
}

.small-text-container {
  @include small_text();
  @include centerd_content();
}

@mixin table_cell{
  @include hover_animated_enlarge();
  width: 100%;
  height: 100%;
}
.table-cell-light {
  @include table_cell();
  @include color_light();
}
.table-cell-dark {
  @include table_cell();
  @include color_dark();
}

.three-by-three_grid {
  display:grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
  grid-template-rows: 33.3% 33.3% 33.3%;
}



//faszom nem importol, itt kell hagyni
//should go into button.component.scss
.btn {
  @include hover_animated_rotate();
  @include centerd_content();
  @include simple_text();
  width: fit-content;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 21px;
}



.ninecell {
  width:100%;
  height: 100%;
  transform: scale(0.95);
}
