<div>
  <app-button [content]="'empty Sudoku'" (click)="resetSudoku()"></app-button>
</div>
<div class="three-by-three_grid" style="width:500px; height:500px; margin:auto;">
  <app-ninecell *ngFor="let _ of [].constructor(9); let i = index" [attr.data-index]="i"
  [nine-numbers]="nineCells(i)"
  (cellClick)="fillCell($event)">
  </app-ninecell>
</div>
<div class="three-by-three_grid" style="width:500px;margin:auto;">
  <div *ngFor="let _ of [].constructor(3); let i = index" [attr.data-index]="i" style="padding-top: 10px;"class="three-by-three_grid">
    <app-button *ngFor="let _ of [].constructor(3); let j = index" [attr.data-index]="i" [content]="(i*3+j+1)+''" (click)="setSelectedNumber(i*3+j+1)"></app-button>
  </div>
</div>
<p class="simple-text-container dark"style="width:500px;margin:auto; margin-top: 10px;">The selected number to add is {{selectedNumber}}</p>
